@(form2: Form[Application.Regist])

<html>
    <head>
    	<title>Yours notes</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main_page.css")">
    </head>
    <body>

       <div id="main">
    		  <div id="left">
    		  	<table>
    		  		<tr>
 						<td><img src="@routes.Assets.at("images/notatka.png")" alt="note logo" ></td>
 						<td> With us not forget anything ;)</td> 
 					</tr>
 				</table> 
 				<div id="pencil"><img src="@routes.Assets.at("images/pencil.gif")" alt="pencil" ></div>
    		  </div>
      	      <div id="right">
		        
						<div id="regist">    
					      	   @helper.form(routes.Application.registration) {
						           <h3 style="margin-left:5px;">Create New Account</h3>
						            
						            @if(form2.hasErrors) { 
						                <p style="margin-left:12px; color:red;"> 
						                    @form2.globalError.message
						                </p>
						            }
						            
						            @if(flash.contains("success_regist")) {
						                <p style="margin-left:12px;"> 
						                    @flash.get("success_regist") 
						                </p>
						            }
						            
						            <p style="margin-right: 10px; margin-left: 10px;">
						                <input type="email" name="email"  maxlength="20" placeholder="Email" >
						                <input type="password" name="password"  maxlength="20" placeholder="Password">
						                <input type="password" name="passwordConfirmation"  maxlength="20" placeholder="Password Confirm">
						            </p>
						            <p style="margin-left:30px;">
						                <button type="submit">Create Account</button>
						            </p>
					            }
				         </div>
				         
				      	<div id="login"> 
				      			@helper.form(routes.Application.authenticate) {
				      				<h3 style="margin-left:60px;">Sign in</h3>
					      	        <p style="margin-right: 10px; margin-left: 10px;">
						                <input type="email" name="email"  maxlength="20" placeholder="Email" value="@form2("email").value">
						                <input type="password" name="password"  maxlength="20" placeholder="Password">
						            </p>
						            <p style="margin-left:60px;">
						                <button type="submit">Login</button>
						            </p>
					            }
						</div>
						
						
				  	       
				  
		       </div>
	   </div>
    
    </body>
</html>