@(form1: Form[Application.Login], is_setCookie: Boolean)

<html>
    <head>
    	<title>Yours notes</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main_page.css")">
    </head>
    <body>

    @if(! is_setCookie ){
       <div id="main">
    		  <div id="left">
    		  	<table>
    		  		<tr>
 						<td><img src="@routes.Assets.at("images/notatka.png")" alt="note logo" ></td>
 						<td> With us not forget anything ;)</td> 
 					</tr>
 				</table> 
 				<div id="pencil"> <img src="@routes.Assets.at("images/pencil.gif")" alt="pencil" > </div>  
    		  </div>
      	      <div id="right">
		        
						<div id="regist">    
							@helper.form(routes.Application.registration) {
						            <h3 style="margin-left:5px;">Create New Account</h3>
						            <p style="margin-right: 10px; margin-left: 10px;">
						                <input type="email" name="email"  maxlength="20" placeholder="Email" >
						                <input type="password" name="password"  maxlength="20" placeholder="Password">
						                <input type="password" name="passwordConfirmation"  maxlength="20" placeholder="Password Confirm">
						            </p>
						            <p style="margin-left:30px;">
						                <button type="submit">Create Account</button>
						            </p>
					         }
				         </div>
				         
				      	<div id="login"> 
					      	   @helper.form(routes.Application.authenticate) {     
						           <h3 style="margin-left:60px;">Sign in</h3>
						            
						            @if(form1.hasErrors) { 
						                <p style="margin-left:12px; color:red;"> 
						                    @form1.globalError.message
						                </p>
						            }
						            
						            @if(flash.contains("success_login")) {
						                <p style="margin-left:12px;"> 
						                    @flash.get("success_login") 
						                </p>
						            }
						            
						            <p style="margin-right: 10px; margin-left: 10px;">
						                <input type="email" name="email"  maxlength="20" placeholder="Email" value="@form1("email").value">
						                <input type="password" name="password"  maxlength="20" placeholder="Password">
						            </p>
						            <p style="margin-left:60px;">
						                <button type="submit">Login</button>
						            </p>
					            }
						</div>
				  	   
				  
		       </div>
	   </div>
	   
      }else{
      
      		<div id="cookie">
    				<table cellspacing="10" style='color:white; padding-left:7%; padding-top:0px; '><tr>
    				<td><h4>    We use cookies to give you the best possible online experience. If you continue, we'll assume you are happy for your web browser to receive all <br/> cookies from our website. See our cookie policy in Your browser.</h4></td>
    				<td  class="cookie_button"><a style="color:black; font-size:20px; font-weight:bold; text-decoration:none;" href="@routes.Application.index()">    I see</a></td>
    				</tr></table>
    		</div>
    	<div id="main">
    		  	 <div id="left" >
	    		  	<table>
	    		  		<tr>
	 						<td><img src="@routes.Assets.at("images/notatka.png")" alt="note logo" ></td>
	 						<td> With us not forget anything ;)</td> 
	 					</tr>
	 				</table> 
	 				<div id="pencil"> <img src="@routes.Assets.at("images/pencil.gif")" alt="pencil" > </div>  
    		  	 </div>
		      	 <div id="right"> 
	   							<div id="regist">
	   							    @helper.form(routes.Application.registration) {
	   									<h3 style="margin-left:5px;">Create New Account</h3>
						      	       <p style="margin-right: 10px; margin-left: 10px;">
							                <input type="email" name="email"  maxlength="20" placeholder="Email" >
							                <input type="password" name="password"  maxlength="20" placeholder="Password">
							                <input type="password" name="passwordConfirmation"  maxlength="20" placeholder="Password Confirm">
							            </p>
							            <p style="margin-left:30px;">
							                <button type="submit">Create Account</button>
							            </p>
						            }
     							</div>
     							<div id="login">
						      		@helper.form(routes.Application.authenticate) {
								           <h3 style="margin-left:60px;">Sign in</h3>
								            
								            @if(form1.hasErrors) { 
								                <p style="margin-left:12px; color:red;"> 
								                    @form1.globalError.message
								                </p>
								            }
								            
								            @if(flash.contains("success_login")) {
								                <p style="margin-left:12px;"> 
								                    @flash.get("success_login") 
								                </p>
								            }
								            
								            <p style="margin-right: 10px; margin-left: 10px;">
								                <input type="email" name="email"  maxlength="20" placeholder="Email" value="@form1("email").value">
								                <input type="password" name="password"  maxlength="20" placeholder="Password">
								            </p>
								            <p style="margin-left:60px;">
								                <button type="submit">Login</button>
								            </p>
						            }
						        </div>
								

      		    </div>
		 </div>
      
      
      }  
        

            
    </body>
</html>